* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../images/background.jpg);
    background-size: cover;
}

header {
    padding: 20px 35px;
    background-image: url("../images/header-img.jpg");
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: flex;
}

header h1 {
    font-size: 60px;
    display: inline-block;
    margin-bottom: 5px;
}

header nav {
    margin-top: 33px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-around;
    list-style: none;
}

header nav ul li {
    margin: 0 40px;
    font-weight: normal;
    font-size: 22px;
    text-align: center;
}

.quote {
    font-size: 20px;
    float: right;
    text-orientation: rtl;
    font-style: italic;
    font-weight: bold; 
    display: contents;   
}

.bio {
background-color: rgb(0,81,46,0.4);
color: white;
display: flex;
flex-direction: row-reverse;
}

.bio h2 {
font-size: 50px;
margin-left: auto;
}

.bio p {
margin-left: auto;
}

.avatar {
    height: 250px;
    width: 250px;
    margin: 10px;
    background-color: white;
    border: 5px solid;
    border-color: black;
}

/* Work section */

.work {
    color: white;
    background-color: rgb(0,81,46,0.4);
    margin-top: 15px;
    text-align: center;
    font-size: 50px;
}

.container {
    display: grid;
    height: 100vh;
  
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1fr;
    grid-template-areas:
    "run run run run"
    "led calc robo surf";

    background-color: rgb(0,81,46,0.4);
    color: white;
  }

.work-des {
    background-color: black;
}

#run {
    grid-area: run;
    /* background-image: url(../images/run-buddy.svg); */
    background-size: cover;
}

.test {
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
}

.test-2 img{
    max-height: 200px;
}

#led {
    grid-area: led;
    /* background-image: url(../images/LED.svg); */
    background-size: cover;
    
}

#calc {
    grid-area: calc;
    /* background-image: url(../images/calc.svg); */
    background-size: cover;
}

#robo {
    grid-area: robo;
    /* background-image: url(../images/robo.svg); */
    background-size: cover;
}

#surf {
    grid-area: surf;
    /* background-image: url(../images/surf.svg); */
    background-size: cover;
}

/* End work section */
.quote p {
    text-align: right;
    margin-right: 20px;
    color: whitesmoke;
}

.subheader {
    background-color: black;
    opacity: .1;

}

/* /*nav section */

.footer div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-around;
    list-style: none;
}

a:link {
    color: whitesmoke;
    text-decoration: none;
}

a:visited{
    color: whitesmoke;
    text-decoration: none;
}

a:hover{
    color: whitesmoke;
    text-decoration: none;
}

a:active{
    color: whitesmoke;
    text-decoration: none;    
}

/* a.hover:hover { color: rgb(31,34,39,0.4) } */

@media only screen and (max-width:800px){
    .bio {
        flex-direction: column-reverse;
        }
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 4.2fr 2.2fr 2.2fr 2.2fr 2.2fr;
        grid-template-areas: 
        "run"
        "led"
        "calc"
        "robo"
        "surf";
    }
}